$black: #000000;
$white: #ffffff;
$grey: #696969;
$grey-background: rgba(246, 246, 246, 0.93);
$shadow: #0000003F;
$grey-border: #c8c8c8;
$red: #d51a1a;
$admin-link: #3c2e2e;

$default-FontSize: 15px;
$default-LineHeight: 150%;