$black: #000000;
$white: #ffffff;
$grey: #696969;
$grey-background: rgba(246, 246, 246, 0.93);
$shadow: #0000003F;
$grey-border: #c8c8c8;
$red: #650c0c;
$dark-green: #034242;
$admin-link: #3c2e2e;
$overlay: rgba(0, 0, 0, 0.5);
$grey-bg: rgba(246, 246, 246, 0.93);

$default-FontSize: 15px;
$default-LineHeight: 150%;