.header {
  background-color: $white;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-box-shadow: 0 2px 10px #0000003F;

  &__container {
    display: flex;
    min-height: 70px;
    align-items: center;
    gap: 40px;
    position: relative;
  }

  &__logo {

  }

  &__menu {
    flex: 0 1 100%;
  }

  &__aside {
    display: flex;
    flex: 0 1 100%;
    align-items: center;
    justify-content: flex-end;
  }

  &__authorization {
    display: flex;
    gap: 15px;
    flex: 0 1 100%;
    justify-content: flex-end;
  }

  &__registration,
  &__login {
    color: $black;
    background-color: inherit;
  }

  &__registration:hover,
  &__login:hover {
    color: $grey;
  }

  &__registration:active,
  &__login:active {
    color: $grey;
  }

  &__mobile-menu {
    display: none;
  }

  &__burger {
    display: none;
  }

  &__burger-button {
    position: absolute;
    width: 30px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: inherit;
    align-items: flex-end;
  }

  &__burger-item {
    width: 75%;
    border: 2px solid $black;
    transition: 1s;
  }

  &__burger-item:first-child {
    width: 100%;
    border: 2px solid $grey;
  }

  &__burger-item:last-child {
    width: 40%;
    border: 2px solid $grey;
  }

  &__burger-item_active:first-child {
    width: 40%;
    border: 2px solid $grey;
  }

  &__burger-item_active:last-child {
    width: 100%;
    border: 2px solid $grey;
  }
}

@media (max-width: 998px) {
  .header {

    &__container {
      gap: 25px;
    }

    &__menu {
      flex: 0 1 65%;
    }

    &__aside {
      flex: none;
    }

    &__authorization {
      flex: none;
    }
  }
}

@media (max-width: 780px) {
  .header {

    &__container {
      min-height: 60px;
      gap: 0;
    }

    &__burger {
      order: 2;
      display: flex;
      align-items: center;
      flex: 0 1 50%;
      justify-content: flex-end;
    }

    &__menu {
      flex: none;
    }

    &__logo {
      order: 1;
      flex: 0 1 50%;
    }

    &__aside {
      display: none;
    }
  }
}