@font-face {
  font-family: 'icon_fonts';
  src: url('fonts/icon_fonts.eot?cw5khk');
  src: url('fonts/icon_fonts.eot?cw5khk#iefix') format('embedded-opentype'),
  url('@/assets/icon-fonts/fonts/icon_fonts.woff') format('woff'),
  url('@/assets/icon-fonts/fonts/icon_fonts.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon_fonts' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-personal_area:before {
  content: "\e971";
}
